.forward {
    border: 1px solid;
    width: 8%;
    font-size: 14px;
    position: fixed;
    top: 50%;
    z-index: 5;
}
.forward span{
    font-size: 14px;
    margin: auto;
    margin-top: -2%;
}
.forward span+span{
    font-size: 50px;
    font-weight: lighter;
}